apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "api.fullname" . }}-network-policy
  labels:
    app: {{ include "api.name" . }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "api.name" . }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: predator-dev
        - podSelector:
            matchLabels:
              app: api-proxy
      ports:
        - protocol: TCP
          port: 8000
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: postgres
        - podSelector:
            matchLabels:
              app: opensearch
        - podSelector:
            matchLabels:
              app: qdrant
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 9200
        - protocol: TCP
          port: 6333
