apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "workers.fullname" . }}-network-policy
  labels:
    app: {{ include "workers.name" . }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "workers.name" . }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: predator-dev
      ports:
        - protocol: TCP
          port: 5672
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: redis
      ports:
        - protocol: TCP
          port: 6379
