apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 30s
      httpMethod: POST

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        tags: ['trace_id']
      tracesToMetrics:
        datasourceUid: prometheus
        tags: [{key: 'service.name', value: 'service'}]
      serviceMap:
        datasourceUid: prometheus
      search:
        hide: false
      nodeGraph:
        enabled: true

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: predator_analytics
    user: $POSTGRES_USER
    secureJsonData:
      password: $POSTGRES_PASSWORD
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400

  - name: OpenSearch
    type: elasticsearch
    access: proxy
    url: http://opensearch:9200
    database: "[pa-*]"
    jsonData:
      esVersion: "7.10.0"
      timeField: "date"
      interval: Daily
      logMessageField: description
      logLevelField: severity
